@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&family=Roboto:ital,wght@0,100;0,300;0,500;1,300&display=swap%27");

body {
  margin-top: -1% !important;
  padding: 2%;
  text-align: center;
  border: 5px dashed black;
  margin: 5%;
  font-family: "IBMPlex Sans Thai Looped" + sans-serif;
}
header {
  background-color: #ffb703;
  padding: 0.5%;
}
h2 {
  background-color: #8ecae6;
  padding: 0.3%;
}
#flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 35%;
}
.img_normal {
  width: 20px;
  height: 20px;
}
.img_btn {
  width: 15px;
  height: 15px;
}
.img_titre {
  width: 40px;
  height: 40px;
}
.bleu {
  background-color: #023047;
  border-radius: 2.5px;
  border: none;
  color: white;
  padding: 0.5%;
}
input {
  margin-left: 5%;
  margin-right: 5%;
}

table,
tr,
th {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 33%;
  text-align: center;
  min-width: 140px;
}

td {
  margin-left: 10%;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
.griser,
.btn_griser {
  border: none;
  background-color: #fb8500;
  cursor: pointer;
  border-radius: 2.5px;
}
.nom_mort {
  text-decoration: line-through;
  color: rgb(80, 80, 80);
}
.id_btn_griser {
  display: none;
}
